<br>
<nz-list *ngIf="deliveries.length > 0; else notFound" nzGrid>
  <div [nzGutter]="16" nz-row>
    <div *ngFor="let delivery of deliveries" [nzLg]="{ span: 6}" [nzXs]="{ span: 24 }"
         [routerLink]="['/package', delivery.packageNumber]" nz-col
         role="listitem"><br>
      <nz-list-item style="cursor: pointer">
        <nz-card [nzTitle]="delivery.packageNumber">{{delivery.senderName}} - {{delivery.receiverName}}</nz-card>
      </nz-list-item>
    </div>
  </div>
</nz-list>
<ng-template #notFound>
  <nz-empty nzNotFoundContent="Brak wyników"></nz-empty>
</ng-template>
