<nz-layout class="layout">

    <ul nz-menu nzTheme="dark" nzMode="vertical">
      <li nz-submenu nzTitle="Panel Główny" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter [hidden]="!isLoggedIn()">
            <a routerLink="/">Wyszukaj</a>
          </li>
          <li nz-menu-item nzMatchRouter [hidden]="!isLoggedIn()">
            <a routerLink="/packages/import">Importuj paczki</a>
          </li>
          <li nz-menu-item nzMatchRouter [hidden]="!isLoggedIn()">
            <a routerLink="/manipulation-data/import">Importuj dane</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/login">{{isLoggedIn() ? 'Wyloguj' : 'Zaloguj'}}</a>
          </li>
        </ul>
      </li>
    </ul>


  <nz-layout>
    <nz-content>
      <div style="padding: 20px">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
